<!DOCTYPE html>
<html>
<script>
   var posts = [];
   {% for post in site.posts %}
      posts.push("{{ post.url }}");
   {% endfor %}

    function visitPage(){
        window.location = posts[Math.floor(Math.random() * posts.length)];
    }
</script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content" style="padding-top:10px">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
